/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.filterArea{
	display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.filter-button{
    font-family: Syne;
	color: #1D6154;
    margin-right: 2%;
    border-radius: 38px;
    padding: 10px 9px;
    background-color: white;
    border: 2px solid #1D6154;
	padding-left: 15px;
	padding-right: 15px;
}

.filter-button.active {
	background-color:  #1D6154;
	color: white;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


#login {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

#login h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    margin-bottom: 20px;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: left; 
}

#login label {
    margin: 2em 0 0.5em 0;
	display: flex;
	width: 70%
}

#login input[type="email"],
#login input[type="password"] {
    width: 70%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 0 10px;
}

#login input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 50px;
    border: none;
    padding: 15px;
    cursor: pointer;
}

#login button {
    background: none;
    border: none;
    color:black;
    font-size: 1em;
    cursor: pointer;
}

#login button:hover {
    text-decoration: underline;
}

#error-message{
	color: red;
}

#edition-mode {
	background-color: black;
	height: 59px;
	margin-left: -207px;
	margin-right: -207px;
	display: none;
	align-items: center;
	justify-content: center;
}

.edition-mode-txt {
	color: white;
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
}

.fa-pen-to-square {
	color: white;
}


#login{
	text-decoration: none;
	color: black;
}

.links{
	text-decoration: none;
	color: black;
}

.modification{
	display: flex;
	justify-content: center;	
}

.modification-btn{
	background: none;
	border: none;
	margin-bottom: 22px;
    font-size: 16px;
	display: none;
}


.modification .fa-pen-to-square{
	color: black;
}

.modal{
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modification a {
	margin-top: 5px;
	text-decoration: none;
}

*{ box-sizing: border-box;}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 5% auto;
    border: 1px solid #888;
    width: 630px;
    height: 688px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.modal-content h2 {
	margin-top: 30px;
    text-align: center;
    color: black;
	font-family: 'Work Sans';
    font-weight: 100;
}

.modal-gallery {
	margin-top: 30px;
	width: 553px;
	display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 82px;
}


.modal-gallery img {
	width: 85px;
    height: 122px;
    object-fit: cover;
    position: relative;
	margin-top: 20px;
}

.image-container {
    position: relative;
}

.fa-trash-can {
	top: 30px;
    right: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px;
    margin-left: -10px;
    margin-top: -3px;
	border-radius: 4px;
}

.btn-bin{
	color: blue;
    height: 22px;
    width: 19px;
    margin-left: 61px;
    margin-top: 24px;
    /* z-index: auto; */
    position: fixed;
}

.figure-modal-style{
	display: flex;

}

.separator {
    border-top: 1px solid #888;
}

.modal-content hr {
    width: 463px;
	margin-top: 27px;
    align-items: center;
    justify-content: center;
}

#add-photo-button {
    display: block;
    margin: 0 auto;
    background-color: #1D6154;
    color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 50px;
    cursor: pointer;
	margin-top: 30px;
	font-family: 'Syne';
    font-weight: 100;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 43px;
	padding-right: 10px;
}


.close-button-ajout{
	position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 43px;
	padding-right: 10px;
}
.hidden{
	display: none;
}

/** fenêtre modale ajout **/

.add-picture{
	background-color: #EAF1F5;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15%;
	margin-right: 15%;
	height: 28%;
	flex-direction: column;
	margin-top:6%;
	margin-bottom: 20px;
}

 .fa-image{
	color :#D1D8DC;
	font-size: 61px;
	margin-left: 52px;
 }

 .add-file{
	border-radius: 38px;
    background-color: #D1D8DC;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 7px;
	color: #5A7A8C;
	/*z-index: 1;*/
 }

 .form-add-picture{
	display: flex;
	flex-direction: column;
 }

 .form-add-picture .validate-picture{
	border: none;
	background-color: #1D6154;
 }

 .form-add-picture input{
	height: 50px;
	width: 438x;
	margin-left: 15%;
	margin-right: 15%; 
	margin-bottom: 5px;
 }

 .form-add-picture label{
	font-family: 'Work Sans';
	margin-left: 94px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-add-picture hr {
	width: 70%;
	margin-top: 79px;
}
	
.form-add-picture input[type="submit"]{
	margin-left: 164px;
    width: 280px;
    height: 42px;
}

.form-add-picture select{
    width: 438px;
    margin-left: 94px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	height: 50px;
}


.moddal-header{
	display: flex;
	justify-content: space-between;
}

.back-btn{
	background-color: white;
    border: none;
    height: 7px;
    font-size: 28px;
    margin-left: 6px;
    margin-top: 11px;

}

#img-work{
	margin-left: 25px;
	background-color: #5A7A8C;
    margin-top: -35px;
    width: 115px;
}

.format{
	padding-top: 13px;
    margin-left: 18px;
}


#file-upload-button{
	background-color: #5A7A8C;
}
 
#error-img{
	color: red;
    padding-top: 5px;
    text-align: center;
}

#upload-image{
	background-color: blue;
	z-index: 2;
}

.photo-preview{
	width: 129px;
	height: 169px;
}

#photo-uploaded-container{
	display: flex;
	flex-direction: column;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.validate-picture:disabled {
	background-color: gray; 
}